Cython==0.27.3
Django==2.0.2
django-cleanup==1.0.1
djangorestframework==3.7.7
ez-setup==0.9
Markdown==2.6.10
numpy==1.13.3
olefile==0.44
Pillow==8.1.1
psycopg2==2.7.3.2
pytz==2018.3
six==1.11.0
whitenoise==3.3.1
