Cython==0.27.3
Django==1.11.5
django-cleanup==1.0.1
django-comments-easy==0.3
django-contrib-comments==1.8.0
django-filter==1.0.4
django-filters==0.2.1
django-likes==1.11
django-secretballot==0.7.0
django-social-share==1.1.2
django-social-widgets==0.4.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.7
ez-setup==0.9
Markdown==2.6.10
numpy==1.13.3
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.2
pytz==2017.2
whitenoise==3.3.1
