{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>PHOICS</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>