{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>forget password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'learn/Upload.css' %}">
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
    </div>
    <div class="container">
        <div></div>
        <div class="Form">
            <div class="row">
                <h3 style="text-align: center"> The confirmation link was invalid, possibly because it has already been used.</h3>
            </div>
         </div>
    </div>


</body>
</html>
