{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Email sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'learn/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
	<div class="container">
	  <div class="navbar-brand">PHOICS</div>

    </div>
</nav>
    <div class="container">

        <div class="container">
        <div class="card" Style="width:40rem;text-align:center">
                <h3 style="text-align: center">  A one time link is send to your email account.</h3>
                <h3 style="text-align: center">Click on that link for further step.</h3>
            </div>
         </div>
    </div>

</body>
</html>