{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>User Info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'learn/Upload.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


     <script>

         function preview(evt)
         {
             {# FileList contain user selected files and index 0 means first file #}

             var reader = new FileReader();
             reader.onload = function()
             {
                 var output = document.getElementById('output');
                 output.src = reader.result;
             }
             reader.readAsDataURL(evt.target.files[0]);
         }
    </script>
</head>
<body>
   <nav class="navbar sticky-top">
    <div class="container top">
        <a class="navbar-brand" href="{% url 'newsfeed' %}">PHOICS</a>
        <ul class="nav justify-content-end">

            <li class="nav-item"><a href="{% url 'newsfeed' %}" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Newsfeed</a></li>
        <li class="nav-item>"><a class="nav-link" href="{% url 'profile' user.username %}">	<i class="fa fa-user" aria-hidden="true"></i> Profile</a> </li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
    </div>
</nav>

    {% if request.user.is_authenticated %}
        <div class="container main justify-content-center">
          <div class="row">
         <div class="col-md-4 preview">
                <img src="{{ obj.profile_pic }}" alt="..." class="img-thumbnail" id="output"><br>
                        <h4>{{ user.username }}</h4><br>

{#         <button class="btn">Change Profile Picture</button><br><br>#}
        </div>
        <div class=" col-md-8 edit-detail">
            {% if user.is_authenticated %}
                     <form method='post' enctype="multipart/form-data" onchange="preview(event)" class="">
                         {% csrf_token %}

                             <div class="form-group row">
                                 <label for="name" class="col-sm-3 col-form-label"><strong><label for="id_First_Name">First Name:</label></strong></label>
                                 <div class="col-sm-8">
                                     <input class="form-control" type="text" name="First_Name" maxlength="100" id="id_First_Name" value="{{ obj.First_Name }}"><br>
                                 </div>

                             </div>

                             <div class="form-group row">
                                 <label for="name" class="col-sm-3 col-form-label"><strong><label for="id_Last_Name">Last Name:</label></strong></label>
                                 <div class="col-sm-8">
                                     <input class="form-control" type="text" name="Last_Name" maxlength="100" id="id_Last_Name"  value="{{ obj.Last_Name }}">
                                 </div>

                             </div>
                          <div class="form-group row">
                                 <label for="name" class="col-sm-3 col-form-label"><strong><label for="id_bio">About:</label></strong></label>
                                 <div class="col-sm-8">
                                     <textarea  class="form-control" name="bio" cols="40" rows="10" maxlength="500" id="id_bio" value="{{ obj.bio }}">
</textarea>
                                 </div>

                             </div>

                             <div class="form-group row">
                                 <label for="name" class="col-sm-3 col-form-label"><strong><label for="id_profile_pic">Change Picture:</label></strong></label>
                                 <div class="col-sm-8">
                                     <input class="form-control"type="file" name="profile_pic" id="id_profile_pic" />
                                 </div>

                             </div>


                         <button class="button" type="submit">SUBMIT</button><br>
                     </form>
                 {% endif %}
             </div>
         </div>
        {% endif %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>